[workspace]
resolver = "2"
members = ["crates/spaces", "crates/graph", "crates/git", "crates/platform", "crates/starstd"]

[workspace.dependencies]
anyhow-source-location = { git = "https://github.com/work-spaces/anyhow-source-location", rev = "019b7804e35a72f945b3b4b3a96520cdbaa77f70" }
anyhow = "1.0.87"
printer = { git = "https://github.com/work-spaces/printer-rs", rev = "d8e60d0fd6dbffc701fd80b7de22a19332501cd2" }
easy-archiver = { git = "https://github.com/work-spaces/easy-archiver", rev = "b8a06ff718caa4c8844f9eed770ed46d7f8d2aea", features = [
    "printer",
] }
starlark = "0.12.0"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0.68"
state = "0.6.0"
petgraph = "0.6.5"
glob-match = "0.2.1"
url = "2.5.2"
toml = "0.8.19"
serde_yaml = "0.9"


git.path = "crates/git"
graph.path = "crates/graph"
platform.path = "crates/platform"
http-archive.path = "crates/http-archive"
starstd.path = "crates/starstd"

[profile.dev]
opt-level = 3
lto = false
debug = true
strip = false
codegen-units = 16

[profile.release]
opt-level = "z"
lto = true
debug = false
panic = "abort"
strip = true
codegen-units = 1
