[package]
name = "spaces"
version = "0.3.0"
edition = "2021"

[dependencies]
clap = {version = "4.5.4", features = ["derive"] }
anyhow = "1.0.44"

serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0.68"
toml = "0.8.13"
url = "2.5.0"
home = "0.5.9"
printer = { git = "https://github.com/work-spaces/printer-rs", rev = "b4f0389285550725577d06fb0b3b28f3c4ea5a76" }

reqwest = { version = "0.12", features = ["json"] }
tokio = { version = "1", features = ["full"] }
flume = "0.11.0"
flate2 = "1.0"
sha256 = "1.5.0"
tar = "0.4.40"
cfg-if = "1.0.0"
zip = "2.1.0"
walkdir = "2.3.1"
maplit = "1.0.2"
glob-match = "0.2.1"
which = "6.0.1"

[profile.dev]
opt-level = 3
lto = false
debug = true
strip = false
codegen-units = 16

[profile.release]
opt-level = "z"
lto = true
debug = false
panic = "abort"
strip = true
codegen-units = 1
