[package]
name = "spaces"
version = "0.5.0"
edition = "2021"

[dependencies]
clap = { version = "4.5.4", features = ["derive"] }
anyhow = "1.0.44"
anyhow-source-location = { git = "https://github.com/work-spaces/anyhow-source-location", rev = "019b7804e35a72f945b3b4b3a96520cdbaa77f70" }
easy-archiver = { git = "https://github.com/work-spaces/easy-archiver", rev = "66f095b4df69964a6cf5550a133797ada6ec2eb9", features = ["printer"] }


serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0.68"
toml = "0.8.13"
url = "2.5.0"
home = "0.5.9"
printer = { git = "https://github.com/work-spaces/printer-rs", rev = "8e97ad653c7b3ce40757361023bd5bc22e9cb91f" }
#printer = { path = "../printer-rs" }

reqwest = { version = "0.12" }
tokio = { version = "1", features = ["rt-multi-thread"] }
flume = "0.11.0"
flate2 = "1.0"
sha256 = "1.5.0"
tar = "0.4.40"
cfg-if = "1.0.0"
zip = "2.1.0"
walkdir = "2.3.1"
maplit = "1.0.2"
glob-match = "0.2.1"
which = "6.0.1"
handlebars = "6.0.0"

[profile.dev]
opt-level = 3
lto = false
debug = true
strip = false
codegen-units = 16

[profile.release]
opt-level = "z"
lto = true
debug = false
panic = "abort"
strip = true
codegen-units = 1
