[package]
name = "shell"
version = "0.1.0"
edition = "2021"

[dependencies]
serde.workspace = true
toml.workspace = true
anyhow.workspace = true
anyhow-source-location.workspace = true
printer.workspace = true
logger.workspace = true
