[package]
name = "spaces"
version = "0.8.3"
edition = "2021"

[dependencies]
clap = { version = "4.5.20", features = ["derive"] }
clap_complete = { version = "4.5.33" }
anyhow.workspace = true
anyhow-source-location.workspace = true

starlark.workspace = true
git.workspace = true
platform.workspace = true
graph.workspace = true
printer.workspace = true
state.workspace = true
serde.workspace = true
starstd.workspace = true
petgraph.workspace = true
serde_json.workspace = true
http-archive.workspace = true
easy-archiver.workspace = true
glob-match.workspace = true
url.workspace = true
serde_yaml.workspace = true
toml.workspace = true

home = "0.5.9"
sha256 = "1.5.0"
chrono = "0.4.38"
blake3 = "1.5.4"
bincode = { version = "2.0.0-rc.3", features = ["derive"] }

which = "6.0.3"
json_value_merge = "2.0.0"
regex = "1.10.6"
flume = "0.11.0"
cfg-if = "1.0.0"
walkdir = "2.5.0"
globwalk = "0.9.1"
maplit = "1.0.2"
