name: Build and Publish Binaries

on:
  push:
    tags:
      - "v*.*.*" # Trigger on version tags

jobs:
  build-ubuntu:
    name: Build and Publish Ubuntu Binary
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-unknown-linux-musl
          components: rustfmt, clippy

      - name: Install musl tools
        run: sudo apt-get update && sudo apt-get install -y musl-tools

      - name: rustup add musl
        run: rustup target add x86_64-unknown-linux-musl

      - name: Build for Ubuntu
        run: cargo build --target=x86_64-unknown-linux-musl --profile=release

      - name: Create binary artifact
        run: |
          mkdir -p artifacts
          (cd target/x86_64-unknown-linux-musl/release; zip ../../../artifacts/spaces-linux-x86_64-${{ github.ref_name }}.zip spaces)

      - name: Publish release with Ubuntu binary
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.ref_name }} \
            artifacts/spaces-linux-x86_64-${{ github.ref_name }}.zip --title "${{ github.ref_name }}" --generate-notes

  build-matrix-windows:
    name: Build and Upload Other OS Binaries
    needs: build-ubuntu
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    strategy:
      matrix:
        os: [windows-latest]
        arch: [x86_64-pc-windows-gnu]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          components: rustfmt, clippy

      - name: Build for ${{ matrix.os }}
        run: |
          rustup target add ${{ matrix.arch }}
          cargo build --profile=release  --target=${{ matrix.arch }}

      - name: Create binary executable
        run: |
          mkdir -p artifacts
          (cd target/${{ matrix.arch }}/release; 7z a -tzip ../../../artifacts/spaces-windows-x86_64-${{ github.ref_name }}.zip spaces.exe)
        shell: bash

      - name: Upload binary to release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh.exe release upload ${{ github.ref_name }} artifacts/spaces-windows-x86_64-${{ github.ref_name }}.zip --clobber

  build-matrix-macos:
    name: Build and Upload Other OS Binaries
    needs: build-ubuntu
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    strategy:
      matrix:
        os: [macos-latest]
        arch: [x86_64, aarch64]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          components: rustfmt, clippy

      - name: Build for ${{ matrix.os }}
        run: |
          rustup target add ${{ matrix.arch }}-apple-darwin
          cargo build --profile=release --target=${{ matrix.arch }}-apple-darwin

      - name: Create binary artifact (zip)
        run: |
          mkdir -p artifacts
          (cd target/${{ matrix.arch }}-apple-darwin/release; zip ../../../artifacts/spaces-macos-${{ matrix.arch }}-${{ github.ref_name }}.zip spaces)
        shell: bash

      - name: Upload binary to release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ github.ref_name }} \
            artifacts/spaces-macos-${{ matrix.arch }}-${{ github.ref_name }}.zip --clobber
