name: Pre-Merge Build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: x86_64-unknown-linux-gnu
        components: rustfmt, clippy

    - name: Cargo Clippy Check
      run: cargo clippy

    - name: Build on Ubuntu
      run: cargo build