name: Pre-Merge Build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: work-spaces/spaces-checkout-run@v0.1.0
        with:
          checkout: --url=https://github.com/work-spaces/spaces --rev=${{ github.head_ref }}
          run: //spaces:check_rust_clippy
