name: Spaces Action

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: work-spaces/spaces-checkout-run@2b551e5712c82630d92927ea9b2b4b3ea4c56eca
        with:
          checkout: --url=https://github.com/work-spaces/spaces --rev=${{ github.sha }}
          run: //spaces:check
