name: Spaces Action

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: work-spaces/spaces-checkout-run@eea6f750b11d102cd9ba613b78034d8d47a076bf
        with:
          checkout: --url=https://github.com/work-spaces/spaces --rev=${{ github.ref }}
          run: //spaces:check
